@model ViewModels.OrganisationsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2 class="text-center">Органiзацiї</h2>
<div>
    <div class="panel-group" id="collapse-group">
        @if (ViewBag.OnePageOfOrganiosations.Count > 0)
        {
            foreach (var modelitem in ViewBag.OnePageOfOrganiosations)
            {
                <div class="panel panel-default">

                    <div style="height:auto" class="panel-heading hoverDiv" data-toggle="collapse" data-parent="#collapse-group" href="#@modelitem.Id">
                        <h4 class="panel-title text-center">
                            @modelitem.Name
                        </h4>
                    </div>
                    <divider></divider>
                    <div id="@modelitem.Id" class="panel-collapse collapse">
                        <table class="table panel-body">
                            <tbody>
                                <tr>
                                    <td class="col-md-1">Р.р.</td>
                                    <td class="col-md-2">@modelitem.Account</td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">ЄДРПОУ</td>
                                    <td class="col-md-2">@modelitem.Edrpou</td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">МФО</td>
                                    <td class="col-md-2">@modelitem.Mfo</td>
                                </tr>
                                <tr>
                                    <td class="col-md-1">
                                        @Html.ActionLink("Edit", "GetOneOrganisation", "Organisations", new { id = modelitem.Id }, new { @class = "btn btn-primary" })
                                    </td>
                                    <td class="col-md-2">
                                        <button class="btn btn-primary" data-toggle="modal" data-target=".@modelitem.Id">Fast Watch</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="modal fade @modelitem.Id">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header text-center">@modelitem.Name</div>
                                <div class="modal-body text-center">
                                    <div>Р.р. @modelitem.Account</div>
                                    <div>ЄДРПОУ @modelitem.Edrpou</div>
                                    <div>МФО @modelitem.Mfo</div>
                                </div>
                                <div class="modal-footer text-center">
                                    <button style="display: block; width: 100%;" type="submit" name="modalCommand" value="Close" class="btn btn-toolbar" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="jumbotron"><h1>Сорян, нічо нема</h1></div>
        }
    </div>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfOrganiosations, page => Url.Action("GetAllOrganisations", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
</div>


